html(lang="en")
  head
    title = "Forrest Allison"
    link(rel="stylesheet", type="text/css", href="layout.css")
    script(data-main="scripts/main", src="scripts/require.js")
  body
    h1.header Forrest Allison
    ul.nav
      li
        a.home(href=".") Home
      li 
        a.resume Resume
      li
        a.source Page Source


