%html(lang="en")
  %head
    %title = "Forrest Allison"
    %link(rel="stylesheet" type="text/css" href="stylesheets/css/layout.css")
  %body
  	.header
  		.title Forrest Allison

  		.nav

  	contents

    